#sideBarMenu {
  height: 100vh;
  width: 250px;
  margin-top: 31px;
  background-color: rgb(255, 208, 0);
  position: fixed;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
}

#openSideBarMenu:checked ~ #sideBarMenu {
  transform: translateX(0);
}

#openSideBarMenu {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

.sideBarToggle {
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 30px;
}

@media (max-width: 600px) {
  #sideBarMenu, #openSideBarMenu, .sideBarToggle {
    display: none;
    position: relative;
  }
}
